<li>
    <form id="search-form" style="margin-right: 250px">
        <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
    </form>
</li>

<%- partial('JavaScript_dropdown.ejs') %>
<%- partial('Translate_dropdown.ejs') %>